@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.my-tooltip
{
	position: relative;
	text-align: center;
	height: 5vh;
	background:url(../images/tooltip.png) no-repeat;
	background-size:contain;
	background-position:center;
	color: white;
	padding-top: 2.2vh;
	font: 0.85em Open Sans;
	opacity: 0.7;
	bottom: 10vh;
}

.my-tooltip:hover
{
	cursor: pointer;
}

@media only screen and (min-width: 200px) {
   .my-tooltip { font: 0.25em Open Sans; margin-top: 7.2vh; }
}

@media only screen and (min-width: 500px) {
   .my-tooltip { font: 0.35em Open Sans; margin-top: 7.2vh; }
}

@media only screen and (min-width: 600px) {
   .my-tooltip { font: 0.45em Open Sans; margin-top: 7.2vh; }
}

@media only screen and (min-width: 760px) {
   .my-tooltip { font: 0.65em Open Sans; margin-top: 7.2vh; }
}

@media only screen and (min-width: 1080px) {
   .my-tooltip { font: 0.85em Open Sans; margin-top: 0vh; }
}